<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Factory3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Factory4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Factory3.Properties.Settings>
            <setting name="AutoFactory" serializeAs="String">
                <value>Factory3.Factories.BMWFactory</value>
            </setting>
        </Factory3.Properties.Settings>
        <Factory4.Properties.Settings>
            <setting name="AutoFactory" serializeAs="String">
                <value>Factory3.Factories.BMWMFactory</value>
            </setting>
        </Factory4.Properties.Settings>
    </userSettings>
</configuration>